body{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-y: scroll;
}

#content{
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 15px;
    border: 0.5px solid rgb(197, 195, 195);
    padding: 20px;
}

#btns{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 15px;
    width: 100%;
    max-width: 1200px;  
}

#btns button{
    border-radius: 15px;
    border: 1px solid black;
    padding-top: 5px;
    padding-top: 5px;
}

#imgs{
    display: flex;
    justify-content: center;
    align-items: center;
}

#imgs img{
    max-width: 500px;
    max-height: 500px;
    overflow: hidden;
    border-radius: 15px;
    border: none;
}